<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="container">


    <!-- Header -->
    <div id="header" class="header">
        <div id="branding">
            <a href="/admin/"><h1 id="site-name">Django Suit</h1></a>
        </div>


        <div class="header-content header-content-first">
            <div class="header-column icon">
                <i class="icon-time"></i>
            </div>
            <div class="header-column">
                <span class="date"> Tuesday, 29th September 2015</span><br>
                <span class="time" id="clock">21:02</span>
            </div>
        </div>


        <!--<div class="header-content">
          <div class="header-column icon">
            <i class="icon-comment"></i>
          </div>
          <div class="header-column">
            <a href="" class="grey"><b>2</b> new messages</a>
          </div>
        </div>-->


        <div id="user-tools">
            Welcome,
            <strong>

                admin</strong>.
                <span class="user-links">



                  <a href="/admin/password_change/">Change password</a>
                  <span class="separator">|</span>
                  <a href="/admin/logout/">Log out</a>

                </span>
        </div>


    </div>

    <!-- END Header -->


    <div class="suit-columns two-columns">


        <div id="suit-center" class="suit-column">


            <ul class="breadcrumb">
                <li>
                    <a href="/admin/">Home</a>
                    <span class="divider">»</span>
                </li>
                <li>
                    <a href="/admin/cards/">Cards</a>
                    <span class="divider">»</span>
                </li>
                <li>

                    <a href="/admin/cards/card/">
                        Cards</a>
                    <span class="divider">»</span>
                </li>
                <li class="active">
                    Add card
                </li>
            </ul>


            <!-- Content -->
            <div id="content" class="colM row-fluid">


                <h2 class="content-title">Add card</h2>


                <div id="content-main" class="inner-two-columns">

                    <form enctype="multipart/form-data" action="" method="post" id="_form" class="form-horizontal">

                        <div class="inner-right-column">

                            <div class="box save-box">


                                <div class="submit-row clearfix">
                                    <button type="submit" class="btn btn-high btn-info" name="_save">Save</button>
                                    <button type="submit" name="_continue" class=" btn btn-high">Save and continue
                                        editing
                                    </button>

                                    <button type="submit" name="_addanother" class="btn">Save and add another</button>


                                </div>


                            </div>


                        </div>
                        <div class="inner-center-column">
                            <input type="hidden" name="csrfmiddlewaretoken" value="nco4hVOoCKkg4SXbKoeVamx1VuGoyw5a">


                            <div class="tab-content tab-content-main">


                                <fieldset class="module aligned first ">


                                    <div class="control-group form-row field-serial ">

                                        <div>
                                            <div class="control-label"><label class="required"
                                                                              for="id_serial">Serial:</label></div>
                                            <div class="controls">
                                                <div class="related-widget-wrapper"><select id="id_serial"
                                                                                            name="serial">
                                                    <option value="" selected="selected">---------</option>
                                                    <option value="C1">Serial #C1</option>
                                                </select><a class="related-widget-wrapper-link change-related"
                                                            id="change_id_serial"
                                                            data-href-template="/admin/cards/cardserial/__fk__/?_to_field=number&amp;_popup=1"
                                                            title="Change selected card serial"
                                                            href="/admin/cards/cardserial/C1/?_to_field=number&amp;_popup=1"><img
                                                        src="/static/admin/img/icon_changelink.gif" width="10"
                                                        height="10" alt="Change"></a><a
                                                        class="related-widget-wrapper-link add-related"
                                                        id="add_id_serial"
                                                        href="/admin/cards/cardserial/add/?_to_field=number&amp;_popup=1"
                                                        title="Add another card serial"><img
                                                        src="/static/admin/img/icon_addlink.gif" width="10" height="10"
                                                        alt="Add"></a></div>
                                            </div>
                                        </div>


                                    </div>


                                    <div class="control-group form-row field-expiration_date ">

                                        <div>
                                            <div class="control-label"><label class="required"
                                                                              for="id_expiration_date_0">Expiration
                                                date:</label></div>
                                            <div class="controls"><p class="datetime">Date: <input class="vDateField"
                                                                                                   id="id_expiration_date_0"
                                                                                                   name="expiration_date_0"
                                                                                                   size="10"
                                                                                                   type="text"><span
                                                    class="datetimeshortcuts">&nbsp;<a
                                                    href="javascript:DateTimeShortcuts.handleCalendarQuickLink(0, 0);">Today</a>&nbsp;|&nbsp;<a
                                                    href="javascript:DateTimeShortcuts.openCalendar(0);"
                                                    id="calendarlink0"><img src="/static/admin/img/icon_calendar.gif"
                                                                            alt="Calendar"></a></span><br>Time: <input
                                                    class="vTimeField" id="id_expiration_date_1"
                                                    name="expiration_date_1" size="8" type="text"><span
                                                    class="datetimeshortcuts">&nbsp;<a
                                                    href="javascript:DateTimeShortcuts.handleClockQuicklink(0, -1);">Now</a>&nbsp;|&nbsp;<a
                                                    href="javascript:DateTimeShortcuts.openClock(0);"
                                                    id="clocklink0"><img src="/static/admin/img/icon_clock.gif"
                                                                         alt="Clock"></a></span></p></div>
                                        </div>


                                    </div>


                                    <div class="control-group form-row field-balance ">

                                        <div>
                                            <div class="control-label"><label for="id_balance">Balance:</label></div>
                                            <div class="controls"><input class="vIntegerField" id="id_balance"
                                                                         name="balance" type="text" value="0"></div>
                                        </div>


                                    </div>


                                    <div class="control-group form-row field-status ">

                                        <div>
                                            <div class="control-label"><label class="required"
                                                                              for="id_status">Status:</label></div>
                                            <div class="controls"><select id="id_status" name="status">
                                                <option value="IA" selected="selected">Inactive</option>
                                                <option value="AC">Active</option>
                                                <option value="EX">Expired</option>
                                            </select></div>
                                        </div>


                                    </div>


                                </fieldset>


                            </div>


                            <script type="text/javascript">
                                (function ($) {
                                    $('form#_form :input[type!=button][type!=submit]:visible:enabled:first').focus();
                                })(django.jQuery);
                            </script>


                            <script type="text/javascript">
                                (function ($) {
                                    var field;


                                })(django.jQuery);
                            </script>


                        </div>
                    </form>
                </div>


            </div>
            <!-- END Content -->
        </div>


        <div id="suit-left" class="suit-column">


            <form class="form-search nav-quick-search" autocomplete="off" action="/admin/auth/user/" method="GET">
                <input type="text" name="q" class="input-medium search-query" id="quick-search">
                <i class="input-icon icon-search"></i>
                <input type="submit" class="submit" value="">
            </form>


            <div class="left-nav" id="left-nav">
                <ul>


                    <li>
                        <a href="/admin/"><i class="icon-home"></i>Home
                        </a>
                    </li>


                    <li>
                        <a href="/admin/auth/group/"><i class="icon-lock"></i>Authentication and Authorization
                        </a>

                        <ul>

                            <li>
                                <a href="/admin/auth/group/">Groups</a></li>

                            <li>
                                <a href="/admin/auth/user/">Users</a></li>

                        </ul>

                    </li>


                    <li class="active">
                        <a href="/admin/cards/cardserial/"><i class="icon-chevron-right"></i>Cards
                        </a>

                        <ul>

                            <li>
                                <a href="/admin/cards/cardserial/">Card serials</a></li>

                            <li class="active">
                                <a href="/admin/cards/card/">Cards</a></li>

                        </ul>

                    </li>


                </ul>
            </div>


        </div>


    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>